* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Make nav bar going across */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

